{% extends "base.html" %}
{% block content %}

<div class="container p-2 my-4 border rounded shadow-sm bg-light" style="max-width: 80%;">    

    <div class="d-flex justify-content-between text-muted mx-5 my-2">
        <div class="my-3">
            <p class="mb-0"><small><strong class="d-inline-block text-nowrap" style="width: 100px;">Job ID:</strong> {{ customer_job[0][0] }}</small></p>
            <p class="mb-0"><small><strong class="d-inline-block text-nowrap" style="width: 100px;">Job Date:</strong> <u>{{ customer_job[0][4].strftime('%Y-%m-%d') }}</u></small></p>
        </div>
        <div class="my-3">
            <p class="mb-0"><small><strong class="d-inline-block text-nowrap" style="width: 100px;">Customer:</strong> <u>{{ customer_job[0][1] }}</u></small></p>
            <p class="mb-0"><small><strong class="d-inline-block text-nowrap" style="width: 100px;">Email:</strong> <u>{{ customer_job[0][2] }}</u></small></p>
            <p class="mb-0"><small><strong class="d-inline-block text-nowrap" style="width: 100px;">Phone:</strong> <u>{{ customer_job[0][3] }}</u></small></p>
        </div>
    </div>
    <hr >
    
    <div class="container my-3">
        <div style="{{ 'display: none;' if customer_job[0][6] }}" class="row justify-content-around mb-4">
<!-- Add Services Form -->
          <div class="col-sm">
            <form method="post" action="{{ url_for('add_service_to_job', job_id=customer_job[0][0]) }}" class="d-flex align-items-end gap-2">
              <div class="form-group flex-grow-1">
                <label class="my-1" for="service_id">Service Name</label>
                <select class="form-control form-control-sm" id="service_id" name="service_id">
                  {% for service in service_list %}
                    <option value="{{ service[0] }}">{{ service[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label class="my-1" for="service_addqty">Quantity</label>
                <input type="number" min="1" max="99" class="form-control form-control-sm col-auto" id="service_addqty" name="addqty" required>
              </div>
              <button type="submit" class="btn btn-primary btn-sm" {{ 'disabled' if customer_job[0][6]  }}>Add Service</button>
            </form>
          </div>
<!-- Add Parts Form -->
          <div class="col-sm">
            <form method="post" action="{{ url_for('add_part_to_job', job_id=customer_job[0][0]) }}" class="d-flex align-items-end gap-2">
              <div class="form-group flex-grow-1">
                <label class="my-1" for="part_id">Part Name</label>
                <select class="form-control form-control-sm" id="part_id" name="part_id">
                  {% for part in part_list %}
                    <option value="{{ part[0] }}">{{ part[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label  class="my-1" for="part_addqty">Quantity</label>
                <input type="number" min="1" max="99" class="form-control form-control-sm col-auto" id="part_addqty" name="addqty" required>
              </div>
              <button  type="submit" class="btn btn-primary btn-sm" {{ 'disabled' if customer_job[0][6]  }}>Add Part</button>
            </form>
          </div>
        </div>

<!-- When job complete, show the total cost,otherwise hide-->
        <div style="{{ 'display: none;' if not(customer_job[0][6]) }}">
            <p class="fw-bold fs-1 text-center my-4"><strong>Estimated Cost of Repairs - Services and Spare Parts</strong></p>
            <hr>
            <div class="d-flex justify-content-around my-3">
                <p class="mb-0 fs-3"><strong class="me-3">Services Total:</strong> ${{ service_total if service_total else 0}}</p> 
                <p class="mb-0 fs-3"><strong class="me-3">Parts Total:</strong> ${{ part_total if part_total else 0}}</p> 
                <p class="mb-0 fs-3"><strong class="me-3">Grand Total:</strong> ${{ customer_job[0][5] }}</p>
            </div>
        </div>
    </div>
    <hr>
<!--Services table-->
    <div class ="mt-5">   
        <p class="fw-bold fs-4">Customer Demanded Repairs - Services</p>
        <div style="max-height: 400px; overflow-y: auto;">  
            <table class="table  table-bordered table-striped table-hover">
                <thead class="text-center table-primary fw-bold">
                    <tr>
                        <th scope="col">Service ID</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit Price</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    {% for service in services_qty %}
                        <tr>
                            {% for field in service %}
                                <td>{{field}}</td>
                            {% endfor %}       
                        </tr>                         
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="table-active text-end"><strong>Grand Total: {{ service_total}}</strong></td>    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--Parts table-->
    <div class ="mt-2">
        <p class="fw-bold fs-4">Customer Demanded Repairs - Parts</p>
        <div style="max-height: 400px; overflow-y: auto;">  
            <table class="table  table-bordered table-striped table-hover">
                <thead class="text-center table-primary fw-bold">
                    <tr>
                        <th scope="col">Part ID</th>
                        <th scope="col">Part Name</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit Price</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    {% for part in parts_qty %}
                        <tr>
                            {% for field in part %}
                                <td>{{field}}</td>
                            {% endfor %}                           
                        </tr>   
                    {% endfor %}   
                    <tr>
                        <td colspan="4" class="table-active text-end"><strong>Grand Total: {{ part_total}}</strong></td>    
                    </tr>                
                </tbody>
            </table>
        </div>        
    </div>
 
<!-- When job complete, show the total cost,otherwise hide-->
    <div class="my-4 text-end" style="{{ 'display: none;' if not(customer_job[0][6]) }}">
        <a href="{{ url_for('currentjobs')}}" class="btn btn-primary  btn-lg px-4 me-4">Back</a>
    </div>
    
<!-- When job completed, hide the button.-->    
    <div class="my-4 text-end" style="{{ 'display: none;' if customer_job[0][6] }}">
        <a href="{{ url_for('complete_job', job_id=customer_job[0][0]) }}" class="btn btn-primary btn-lg px-4 me-4">Complete</a>
    </div>
</div>
{{service_total}}
{% endblock %}
