{% extends "adminpage.html" %}
{% block admincontent %}

<div class="p-3 my-4 border rounded shadow-sm"> 
    <h2 class="h6 my-2">Service Management</h2>
    <div class="d-flex justify-content-around align-items-center my-3">
        <a class="btn btn-success btn-sm" href="{{ url_for('customers') }}">Add Service</a>
        <div class="ms-auto col-3" > 
            <input class="form-control form-control-sm" type="search" placeholder="Search">
        </div>
    </div>
    
    <!-- Scrollable Table Container -->
    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-bordered table-striped table-hover">
            <thead class="text-center table-primary fw-bold">
                <tr>
                    <th scope="col">Service ID</th>
                    <th scope="col">Service Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for service in service_list %}
                    <tr>
                        {% for field in service %}
                            <td>{{ field }}</td>
                        {% endfor %}
                        <td>           
                            <a href="{{ url_for('services') }}" class="btn btn-info btn-sm">Edit</a> 
                            <a href="{{url_for('services')  }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>     
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
